* {
    margin: 0;
  }
  
  .App{
    background-color: #fafafa;
    height: 100%;
  }
  
  .dark-mode {
    background-color: #111;
    color: #fff;
  }
  
  
  
  .app_header{
    position: sticky;
    top: 0;
    z-index:1;
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    object-fit: contain;
  
  }
  
  .app_headerImage{
    object-fit: contain;
  }
  
  .app_headerButtons{
    display: flex;
    align-items: center; 
    gap: 10px; 
  }
  
  
  .app_signup{
    display: flex;
    flex-direction: column;
    
  }
  
  .app_posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }